a:hover {
  color: green;
}

body {
  font-family: 'PT Serif', serif;
  /* background-color: #ece3d1; */
}

th {
  color: black;
}
.heading{
  color: #393e46;
  margin-top: 30px;
  margin-left: 85px;
  font-family: 'Carter One', cursive;
  font-size: 2rem
}
#first {
  padding-top: 80px;
      height: 740px;
}
#second{
  padding-top: 50px;
height:800px;
}
#third{
  padding-top:40px ;
  height:700px;
}

#title {
  background-color: #5eaaa8;
  padding-bottom: 50px;
}

.container-fluid {
  padding: 0 0 4.5;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: lighter;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat"
    font-weight:400;
}

.title-button {
  width: 300px;
  height: 50px;
  position: absolute;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 10rem;
  font-weight: lighter;
  margin-top: 48px;
  margin-left: 80px;
  letter-spacing: 4px;
}

.first_group {
  background-color: #f0f5f9;
  height: 500px;
  width: 1100px;
  top: 100px;
  left: 150px;
  right: 30px;
  position: relative;
  border-radius: 40px;
  border: 4px solid #5eaaa8;

}

.second_group {
  background-color: #f0f5f9;
  height: 600px;
  width: 1100px;
  top: 100px;
  left: 150px;
  right: 30px;
  position: relative;
  border-radius: 40px;
    border: 4px solid #5eaaa8;
}

.third_group {
  background-color: #f0f5f9;
  height: 500px;
  width: 1100px;
  top: 100px;
  bottom: 200px;
  left: 150px;
  right: 30px;
  position: relative;
  border-radius: 40px;
  margin-bottom: 100px;
    border: 4px solid #5eaaa8;
}
.t1main{
  padding-left: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
.age1{
  padding-left: 0px;
    padding-right: 120px;
    padding-top: 40px;
    text-align: left;
}
h1{
  padding-bottom: 5px;
}
.table1{
  /* padding-left: 150px; */
    padding-top: 80px;
    padding-right: 50px;

}
.collegegirl{
  position: relative;
    bottom: 306px;
    left: 500px;
}
.fullgrad{
  position: relative;
    bottom: 395px;
    left: 540px;

  }
  .techgirl{
    position: absolute;
    top: 1925px;
    right:300px;
  }
  .t2sub{
    position: relative;
    left: 50px;
  }
  .t2main{
    padding-left: 0px;
      margin-left: 50px;
      margin-right: 50px;
  }
  .age2{
    padding-left: 0px;
      padding-right: 130px;
      padding-top: 40px;
      text-align: left;
  }
  .table2{
    /* padding-left: 150px; */
      padding-top: 80px;
      padding-right: 80px;
  }
  .t3sub{
    position: relative;
    left: 50px;
  }
  .t3main{
    padding-left: 0px;
      margin-left: 50px;
      margin-right: 50px;
  }
  .age3{
    padding-left: 0px;
      padding-right: 120px;
      padding-top: 40px;
      text-align: left;
  }
  .table3{
    /* padding-left: 150px; */
      padding-top: 80px;
      padding-right: 80px;
  }
.th{
  padding: 10px;
}
#footer{

background-color: #5eaaa8;
text-align:center;
font-size: 1rem;
margin-bottom: 0;
/* padding-top: 40px; */
}
.smedia{
  padding:3% 1% 1% 0;
}
